

.navbar{
    background-color: #336699;
    box-shadow: 0 .5rem .5rem  rgba(0, 0, 0, .1);
    min-height: 80px;
   
   
}

.nav-item{
    padding: .5rem;
}

.fa-bars{
    color: white;
}

.nav-link{
    color: white!important;
}

.nav-link.active, .nav-link:hover{
    color: #eaeaeaea!important;
}


.logo-brand{
    min-width: 160px;
    max-width: 180px;
}

.navbar-brand{ color: white; }
.navbar-brand:hover{ color: white; }

.navbar-toggler{ font-size: 30px }
.navbar-toggler:focus{ outline: none; }

.navbar-toggler-icon{
    color: white;
}

#carouselExampleCaptions{
    box-shadow: 0 1rem 1rem  rgba(0, 0, 0, .1);
    margin-top: 0.5px;
}

#carouselExampleCaptions img{
    width: 100%;
    height: 17%;
}

.carousel-inner{
    max-height: 38rem!important;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
    transition: transform 1.2s ease;
}



.bg-custom{
    background-color: rgb(0, 0, 0, .4);
    color: white;
    border-radius: 1rem;

}


.border-primary{
    border-top: .2rem solid #336699 ;
}

.carousel-caption h5{
    font-size: 1.2rem;
    text-shadow: .1rem .1rem .2rem  rgba(0, 0, 0, 1);
}

.btn-lg{
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1rem;
    border-width: medium ;
}

.btn-secundary:focus{
    border: .05rem solid;
}

/*-- Fixed Background Image --*/
.fixed-background {
    position: relative;
    width: 100%;
    z-index: 1000!important;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
  }
  .fixed {
    z-index: -999!important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
  }


  .fixed{
      background-image: url(../img/fondo.jpg);
      position: fixed;

  }

  .fixed-background{
      padding: 3rem ;
  }


footer{
    background-color: #383838;
    padding: 1rem 2rem 3rem;
}

footer img{
    height: 5.5rem;
    margin: 1.5rem auto;
}

footer p, footer a, .socket a{
    color: white;
    text-decoration: none
}
 
ul.social{
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
    padding: 0;
}

ul.social li{
    margin: 0 auto;
    
}

footer .svg-inline--fa{
     font-size: 2.3rem;
}

footer .svg-inline--fa:hover{
    color: #68a0d2;

}

.socket{
    background-color: #222222;
    border-top: .1rem solid #4981b3;
}



@media (max-width: 1199.98px) {

}


@media (min-width: 992.98px) {

}

#carouselExampleCaptions{
    width: 100%;
    height: 15%;
}

.pagina{
    width: 100%;
}

.proc{
    display: inline-block;
}
.table{
    width: 60%;
    margin-left: 20%;
}
.nomcarro{
margin-left: 20%;
margin-top: 3%;
}
.alert-success{
    width: 60%;
    margin-left: 20%;
}
.proc{
    margin-top: -30px;

}
div .alert-success{
width: 100%;
padding: 10px;
margin-left: 0px;
color: #336699;
}
.btn-block{
background: #336699;
border-color: #336699;
}




